# Директории и файлы, связанные с Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Локальные файлы среды разработки
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.bak

eslintcache
.prettiercache

Thumbs.db
Desktop.ini

coverage/
versel.json